page-login {

    img {
        width: 230px;
        display: block;
        margin: 0 auto;
      }

      .button {
          
      color: #fff;
      background-color: #FCA12F;
    }

    .item-inner {
        font-family: serif;
        font-size: smaller;
    }

    .text-input{
        border: 8;
        border: 6px dashed #D2E1FD;
        background-color:#D2E1FD;
    }
    
    .item.item-block .item-inner {
      padding-right: 8px;
      padding-right: 8px;
      border-bottom: 0;
    }

    }

