page-lista-mensagem {
    
    ion-icon {
        font-size: 2.2em;   
    }

    
    .list > .item-block:last-child,
    .list > .item-wrapper:last-child .item-block {
        border-bottom: 0;
    }

    .list > .item-block:first-child {
        border-top: 0;
    }

    .searchbar .searchbar-input {
        background-color: #335AD9;
      }
   
      .searchbar {
        border-bottom: 0;
        background: #335AD9;
      }

      .searchbar-ios .searchbar-search-icon {
        right: 19px;
      }
}
