<ion-header>
    <ion-navbar>
        <ion-title>Mensagens</ion-title>
    </ion-navbar>
    <ion-searchbar placeholder="search" [(ngModel)]="search" [formControl]="controleBusca" (ionInput)="onSearchInput">
    </ion-searchbar>
</ion-header>

<ion-content padding>
       <ion-item *ngFor="let mensagem of array" (click)="openDetalhesMensagem(mensagem)">
            <p>{{mensagem}}</p>
        </ion-item>
    
    <ion-item *ngIf="!array?.length">
        <p>Nenhuma mensagem encontrada</p>
    </ion-item>

</ion-content>