<ion-header>

  <ion-navbar>
    <ion-title>Minha Página</ion-title>
</ion-navbar>
</ion-header>

  <ion-content padding>

          <ion-item>
          <ion-avatar item-start (click)="openAlterarFoto()">
              <ion-fab top left >
                  <button ion-fab>{{sigla}}</button>
                  </ion-fab>
            </ion-avatar>
            <div *ngIf= "user != null">
              <p>{{user.nome}}</p>
                <i><p>{{user.login}}</p></i><br>
                </div>
        </ion-item>
        <div *ngIf= "post != null">
        <comp-post [feed]= "post" ></comp-post>
      </div>
  
   <button ion-button block (click)="openListaMensagem()">MENSAGENS</button><br>
   <button ion-button block (click)="openListaPost()">POSTS</button><br><br><br>
   <button ion-button block (click)="openLogout()" id="sair" >LOGOUT</button>

  </ion-content>
