page-tela-usuario {

    .item ion-avatar img {
        width: 100px;
        height: 100px;
    }

    #sair {
        background-color: red;
      }
      
    .item.item-block .item-inner {
    padding-right: 8px;
    padding-right: 8px;
    border-bottom: 0;
  }


  ion-card-content.card-content.card-content {
    background-color: #D6D6D6;
}
}
