page-alterar-foto {
  
        h6{
            text-align: center;
        }
        
        img {
            width: 250px;
            display: block;
            margin: 0 auto;
        }
    
        ion-icon {
            display: inline-block;
            font-size: 6em;
            color: dodgerblue;
            line-height: 4;
            min-width: 148px;
        }
        
          p{
             text-align: center;
          }
        }

