page-alterar-foto {
  
        h6{
            text-align: center;
        }
        
        img {
            width: 250px;
            display: block;
            margin: 0 auto;
        }
    
    
        #icon1 {
            font-size: 5em;
            margin: 0;
            color: dodgerblue;
            line-height: 4;
            min-width: 195px;
        }
    
        #icon2 {
            font-size: 4em;
            margin: 0;
            color: dodgerblue;
            line-height: 4;   
        }
        
          p{
             text-align: center;
          }
        }

